
<section class="footer pt-5" id="footer">
    <div class="container align-self-center mb-5 py-5">
        <div class="row text-center gy-4">
            <div class="col-md-4">
                <div>
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3>AROUND THE WEB</h3>
                    <div class="d-flex justify-content-center">
                        <div class="icon-container position-relative me-2">
                            <i class="fa-brands fa-square-facebook position-absolute top-50 start-50 translate-middle fs-5"></i>
                        </div>
                        <div class="icon-container position-relative me-2">
                            <i class="fa-brands fa-twitter position-absolute top-50 start-50 translate-middle fs-5"></i>
                        </div>
                        <div class="icon-container position-relative me-2">
                            <i class="fa-brands fa-linkedin position-absolute top-50 start-50 translate-middle fs-5"></i>
                        </div>
                        <div class="icon-container position-relative me-2">
                            <i class="fa-solid fa-globe position-absolute top-50 start-50 translate-middle fs-5"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Ahmed Yassein</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-pragraph d-flex align-items-center justify-content-center">
        <p>Copyright © Your Website 2024</p>
    </div>
</section>