<section class="about d-flex align-items-center" id="about">
    <div class="container px-4">
        <div class="row mx-md-5">
            <h2 class="mt-5 h2-style">ABOUT COMPONENT</h2>
            <div class="mb-3 text-center">
                <i class="fa-solid fa-star "></i>
            </div>
            <div class="col-md-6">
                <div>
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.</p>
                </div>
            </div>
        </div>
    </div>
</section>