.w-60{
    width: 60%;
}
@media screen and (max-width:767px) {
    .w-60{
        width: 95%;
    }
}
.h2-style::before{
    content: "";
    position: absolute;
    top: 140%;
    right: 25%;
    width: 20%;
    height: 4px;
    border-radius: 10px;
    background-color: #2C3E50;
}

.h2-style::after{
    content: "";
    position: absolute;
    top: 140%;
    left: 25%;
    width: 20%;
    height: 4px;
    border-radius: 10px;
    background-color: #2C3E50;
}
@media screen and (max-width:767px) {

    .h2-style::before{
        right: 12%;
        width: 30%;
    }
    
    .h2-style::after{
        left: 12%;
        width: 30%;
    }
}
.form-control{
    border: none;
    border-bottom: solid 1px #dee2e6;
}

.form-control:focus {
    box-shadow: none;
}
.form{
    background-color: teal;
}

.hide-input-lable{
    position: relative;
    padding-left: 10px;
    color:#1ABC9C;
    transition: all 0.5s;
    top: 50px;
}

.show-input-lable{
    position: relative;
    padding-left: 10px;
    color:#1ABC9C;
    transition: all 0.5s;
    top: 10px;
}

.btn-btnColor{
    background-color: #1ABC9C;
    color: white;
}